<!DOCTYPE HTML>
<html>
<head>
    <title>Index Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/vue.js"></script>
</head>
<body>
Hello,
<ul id="app">
    <li v-for="item in items">
        {{ item.lastName }} {{ item.firstName }} ({{ item.description }})
    </li>
</ul>

<script src="/js/jquery-3.1.1.js"></script>
<script src="/js/application.js"></script>
</body>
</html>